@import 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css';
@import 'https://cdn-webgl.wrld3d.com/wrldjs/addons/resources/v119/css/wrld.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#map {
  margin: auto auto;
  width: 1920px;
  height: 1080px;
  background-color: #000000;
}
